@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --first-color: #1b4b66;
}

html {
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1b998a34;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1b998b;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1c8074;
}

.estric {
  position: relative;
  font-weight: 500;
  /* color: var(--first-color); */
}

.non-estric {
  font-weight: 500;
  /* color: var(--first-color); */
}

.estric::after {
  content: '*';
  position: absolute;
  color: red;
}

.InputFeild {
  width: 100%;
  padding: 0.5rem 0 0.5rem 0.5rem;
  font-size: 0.9rem;
  outline: none;
  border-radius: 5px;
  border: 2px solid grey;
}
.helperText {
  font-size: 0.8rem;
  color: red;
  padding-left: 0.5rem;
}
